:root {
--text-color: #1a1c20;
--link-color: #e6ffff;
--background-color: #eeeff1;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

body { 
font-family: 'Poppins', sans-serif;
background-color: var(--background-color) ;
}

a {
color: var(--link-color) ;
text-decoration: none;
}

/* NAVBAR */
nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 50px;
height: 80px;
}

nav .left a {
color: var(--link-color);
font-size: 22px;
font-weight: 600;
}

nav .right a {
color: var(--link-color);
margin: 0 10px;
}

nav .right a:last-child {
color: var(--background-color);
background-color: var(--text-color);
padding: 5px 15px;
border-radius: 5px;
}

nav .right a span {
margin-left: 5px;
}

.hero-section .text {
flex: 5;
}

.hero-section .text h2 {
font-size: 25px;
}

.hero-section .text .link {
margin-top: 25px;
}

.hero-section .text .link a {
display: inline-block;
padding: 5px 10px;
border: 2px solid var(--link-color);  border-radius: 5px;
margin-right: 18px;
margin-bottom: 10px;
}

}

.hero-section .headshot {
flex: 2;
}




@media (max-width: 600px) {
/* NAVBAR */
nav {
padding: 0 20px;
}

nav .right a {
font-size: 22px;
}

nav right a:last-child {
color: var(--text-color); background-color: transparent; 
padding: 8;

nav .right a span {
display: none;
}

}



